.product-section {
  padding-top: 127px;
}

.poduct-container {
  @include tab {
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
    max-width: 1280px;
  }

  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.product-section-title {
  font-family: $font-family-title;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  display: block;
  @include tab {
    font-size: 26px;
    line-height: 1.15;
  }
  @include desk {
    font-size: 30px;
    line-height: 1.13;
  }
}

.product-subtitle {
  font-family: $font-family-title;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 144px;
  @include tab {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.14;
  }
  @include desk {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.13;
  }
}

.product__list {
  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    margin-left: -20px;
    margin-top: -20px;
    width: 768px;
  }
  @include desk {
    margin-left: -30px;
    margin-top: -30px;
    width: 1080px;
     margin-left: auto;
    margin-right: auto;
  }
  text-align: center;
}

.product__item {
  @include tab {
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
  @include tab {
    min-width: 220px;
  }
  @include desk {
    max-width: 330px;
    height: 525px;
    margin-left: 30px;
    margin-top: 30px;
  }
  position: relative;
  display: inline-block;
  width: 280px;
  height: 485px;
  margin-bottom: 130px;
  text-align: center;
}
.product-card1 {
  background-color: $subtitle-color;
  border-radius: 24px;
}

.product-card2 {
  background-color: #f0d1a5;
  border-radius: 24px;
}
.product-card3 {
  background-color: #c2e297;
  border-radius: 24px;
}

.product-card1::before {
  content: '';
  position: absolute;
  top: -113px;
  left: 16px;
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-size: contain;
  @include tab {
    top: -102px;
    left: 3%;
    width: 220px;
    height: 226px;
    background-size: contain;
  }
  @include desk {
    top: -210px;
    width: 335px;
    height: 335px;
    background-size: contain;
  }
  background-image: url('../images/tel/product1-tel-1x.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/tel/product1-tel-2x.png');
  }
  @media screen and (min-width: 481px) {
    background-image: url('../images/tab/product1-tab-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tab/product1-tab-2x.png');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: url('../images/desk/product1-desk-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desk/product1-desk-2x.png');
    }
  }
}

.product-card2::before {
  content: '';
  position: absolute;
  top: -113px;
  left: 16px;
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-size: contain;
  @include tab {
    top: -102px;
    left: 3%;
    width: 220px;
    height: 226px;
    background-size: contain;
  }
  @include desk {
    top: -210px;
    width: 335px;
    height: 335px;
    background-size: contain;
  }
  background-image: url('../images/tel/product2-tel-1x.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/tel/product2-tel-2x.png');
  }
  @media screen and (min-width: 481px) {
    background-image: url('../images/tab/product2-tab-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tab/product2-tab-2x.png');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: url('../images/desk/product2-desk-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desk/product2-desk-2x.png');
    }
  }
}

.product-card3::before {
  content: '';
  position: absolute;
  top: -113px;
  left: 16px;
  width: 249px;
  height: 252px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  @include tab {
    top: -102px;
    left: 3%;
    width: 220px;
    height: 226px;
    background-size: contain;
  }
  @include desk {
    top: -210px;
      width: 335px;
    height: 335px;
    background-size: contain;
  }
  background-image: url('../images/tel/product3-tel-1x.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/tel/product3-tel-3x.png');
  }
  @media screen and (min-width: 481px) {
    background-image: url('../images/tab/product3-tab-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tab/product3-tab-2x.png');
    }
  }
  @media screen and (min-width: 769px) {
    background-image: url('../images/desk/product3-desk-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desk/product3-desk-2x.png');
    }
  }
}

.product__title {
  @include tab {
    padding: 152px 23px 0;
  }
  @include desk {
    padding: 163px 60px 0;
    font-size: 30px;
    line-height: 1.13;
  }

  font-family: $font-family-title;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 66px;
  padding: 161px 53px 0;

  color: $text-color;
}

.product__text {
  @include tab {
    padding: 0 11px 0;
    margin-bottom: 40px;
    line-height: 1.78;
  }
  @include desk {
    padding: 0 44px 0;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.75;
  }
  position: relative;
  padding: 0 40px 0;
  font-family: $font-family-text;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  margin-bottom: 30px;

  color: $text-color;
}

.product__text::before {
  @include tab {
    left: 97px;
  }
  @include desk {
    left: 151px;
  }
  content: '';
  width: 26px;
  height: 6px;
  top: -30px;
  left: 127px;
  position: absolute;
  background-image: url('../images/tel/dots.png');
  background-repeat: no-repeat;
}

.product__btn {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  &:hover,
  &:focus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 1px solid $brand-color;
    
  }
}

.product-backdrop {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 234, 237, 0.704);
  visibility: visible;
  opacity: 1;
  transition: visibility, opacity, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-backdrop2 {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 244, 235, 0.704);
  visibility: visible;
  opacity: 1;
  transition: visibility, opacity, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-backdrop3 {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 240, 222, 0.704);
  visibility: visible;
  opacity: 1;
  transition: visibility, opacity, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--is-hidden .product-modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.backdrop--is-hidden .product-modal2 {
  transform: translate(-50%, -50%) scale(1.1);
}

.backdrop--is-hidden .product-modal3 {
  transform: translate(-50%, -50%) scale(1.1);
}

.product-modal {
  background-color: #FFB8CA;
@include product-modal;}

.product-modal::before{
 content: '';
 position: absolute;
 background-repeat: no-repeat;
  background-image: url('../images/tel/product1-tel-1x.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/tel/product1-tel-1x.png');
  }
  @media screen and (min-width: 481px) {
    background-image: url('../images/tab/product1-tab-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tab/product1-tab-2x.png');
    }
  }
  @media screen and (min-width: 769px) {
    background-image: url('../images/desk/product1-desk-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desk/product1-desk-2x.png');
    }
  }
  @media screen and (min-width: 320px) {
    top: -160px;
    left: 5%;
    width: 250px;
    height: 350px;
  }
  @media screen and (min-width: 480px) {
    background-size: 300px 300px;
top: -190px;
left: 2%;
width: 300px;
height: 300px;
  }
  @media screen and (min-width: 1280px) {
  background-size: 350px 350px;
top: -230px;
  left: 1%;
  width: 350px;
  height: 350px;
  }
}

.product-modal2 {
 background-color: #F0D1A5;
@include product-modal;}

.product-modal2::before{
 content: '';
 position: absolute;
 background-repeat: no-repeat;
    background-image: url('../images/tel/product2-tel-1x.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/tel/product2-tel-2x.png');
  }
  @media screen and (min-width: 481px) {
    background-image: url('../images/tab/product2-tab-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tab/product2-tab-2x.png');
    }
  }
  @media screen and (min-width: 769px) {
    background-image: url('../images/desk/product2-desk-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desk/product2-desk-2x.png');
    }
  }
  @media screen and (min-width: 320px) {
    top: -160px;
    left: 5%;
    width: 250px;
    height: 350px;
  }
  @media screen and (min-width: 480px) {
  background-size: 300px 300px;
top: -190px;
left: 2%;
width: 300px;
height: 300px;
  }
  @media screen and (min-width: 1280px) {
   background-size: 350px 350px;
top: -230px;
  left: 1%;
  width: 350px;
  height: 350px;
  }
}

.product-modal3 {
background-color: #C2E297;
@include product-modal; }

.product-modal3::before{
 content: '';
 position: absolute;
 background-repeat: no-repeat;
  background-image: url('../images/tel/product3-tel-1x.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/tel/product3-tel-3x.png');
  }
  @media screen and (min-width: 481px) {
    background-image: url('../images/tab/product3-tab-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/tab/product3-tab-2x.png');
    }
  }
  @media screen and (min-width: 769px) {
    background-image: url('../images/desk/product3-desk-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desk/product3-desk-2x.png');
    }
  }
  @media screen and (min-width: 320px) {
    top: -160px;
    left: 0%;
    width: 250px;
    height: 350px;
  }
  @media screen and (min-width: 480px) {
  background-size: 300px 300px;
top: -190px;
left: 2%;
width: 300px;
height: 300px;
  }
  @media screen and (min-width: 1280px) {
   background-size: 350px 350px;
top: -230px;
  left: 1%;
  width: 350px;
  height: 350px;
  }
}

.product-modal__title {
    text-align: center;
  font-family: $font-family-title;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  padding: 15px 10px 30px;

  color: white;
  @media screen and (min-width: 320px) {
    font-size: 25px;
  }
  @media screen and (min-width: 768px) {
    // padding: 15px 5px 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 31px;
    // padding: 15px 20px 30px;
  }
}

.product-modal__text {
    text-align: center;
  color:white;
font-family: DM Sans;
font-style: normal;
font-weight: bold;
text-shadow: 3px 4px 5px #6b6869;
@media screen and (min-width: 320px) {
    font-size: 15px;
     line-height: 1.15;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
   }
}

.product-modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover,
  &:focus {
    background-color: #d41443;
  }
}

