
  <section class="gallery-section">
    <div class="container-gallery">
      <ul class="gallery">
        <li class="gallery__list">

          <svg width="33" height="50">
            <use href="./images/svg/icon1.svg#image0_1_228"></use>
          </svg>
          <h2 class="gallery__title">721</h2>
          <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="gallery__list">

          <svg width="50" height="50">
            <use href="./images/svg/icon2.svg#image0_5_345"></use>
          </svg>
          <h2 class="gallery__title">16kg</h2>
          <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="gallery__list">

          <svg width="44" height="50">
            <use href="./images/svg/icon3.svg#image0_1_227"></use>
          </svg>
          <h2 class="gallery__title">84</h2>
          <p class="gallery__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>

      <!-------------------------------------- баннер ------------------------------------------------------>

      <!-- <picture>
        <source srcset="
              ./images/desk/gallery-desk-1x-nb.png 1x,
              ./images/desk/gallery-desk-2x-nb.png 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/tab/gallery-tab-1x-nb.png 1x,
              ./images/tab/gallery-tab-2x-nb.png 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/tel/gallery-tel-1x-nf.png 1x,
              ./images/tel/gallery-tel-2x-nf.png 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desk/gallery-desk-1x.png" class="gallery-banner" alt="banner" />
      </picture> -->
 
     <!-------------------------------------- my-code ------------------------------------------------------>
       <div class="gallery__container">
     <picture>
        <source srcset="
              ./images/desktop/pic1.jpg 1x,
              ./images/desktop/pic1@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic1-tab.jpg 1x,
              ./images/desktop/pic1.jpg 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic1-mob.jpg 1x,
              ./images/desktop/pic1-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desktop/pic1.jpg" class="gallery-banner-1" alt="banner" />
      </picture>
<div class="gallery__container-container-2">
           <picture>
        <source srcset="
              ./images/desktop/pic2.jpg 1x,
              ./images/desktop/pic2@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic2-tab.jpg 1x,
              ./images/desktop/pic2.jpg 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic2-mob.jpg 1x,
              ./images/desktop/pic2-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desktop/pic2.jpg" class="gallery-banner-1" alt="banner" />
      </picture>
     <picture>
        <source srcset="
              ./images/desktop/pic3.jpg 1x,
              ./images/desktop/pic3@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic3-tab.jpg 1x,
              ./images/desktop/pic3.jpg 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic3-mob.jpg 1x,
              ./images/desktop/pic3-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desktop/pic3.jpg" class="gallery-banner-1" alt="banner" />
      </picture></div>
           <div class="gallery__container-container-2">
               <picture>
        <source srcset="
              ./images/desktop/pic4.jpg 1x,
              ./images/desktop/pic4@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" class="pic4.jpg" />
        <source srcset="
              ./images/desktop/pic4-tab.jpg 1x,
              ./images/desktop/pic4.jpg 2x
              " media="(min-width: 768px)" type="image/png" class="pic4.jpg" />
        <source srcset="
              ./images/desktop/pic4-mob.jpg 1x,
              ./images/desktop/pic4-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" class="pic4.jpg" />
        <img src="./images/desktop/pic4.jpg" class="gallery-banner-1" alt="banner" />
      </picture>
           <picture>
        <source srcset="
              ./images/desktop/pic5.jpg 1x,
              ./images/desktop/pic5@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic5-tab.jpg 1x,
              ./images/desktop/pic5.jpg 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic5-mob.jpg 1x,
              ./images/desktop/pic5-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desktop/pic5.jpg" class="gallery-banner-1" alt="banner" />
      </picture></div>
           <div class="gallery__container-container-2">
            <picture>
        <source srcset="
              ./images/desktop/pic6.jpg 1x,
              ./images/desktop/pic6@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic6-tab.jpg 1x,
              ./images/desktop/pic6.jpg 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic6-mob.jpg 1x,
              ./images/desktop/pic6-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desktop/pic6.jpg" class="gallery-banner-1" alt="banner" />
      </picture>
           <picture>
        <source srcset="
              ./images/desktop/pic7.jpg 1x,
              ./images/desktop/pic7@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic7-tab.jpg 1x,
              ./images/desktop/pic7.jpg 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic7-mob.jpg 1x,
              ./images/desktop/pic7-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desktop/pic7.jpg" class="gallery-banner-1" alt="banner" />
      </picture></div>
          <div class="gallery__container-container-2 dog-cofee"> <picture>
        <source srcset="
              ./images/desktop/pic8.jpg 1x,
              ./images/desktop/pic8@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic8-tab.jpg 1x,
              ./images/desktop/pic8.jpg 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic8-mob.jpg 1x,
              ./images/desktop/pic8-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desktop/pic8.jpg" class="gallery-banner-1" alt="banner" />
      </picture>
           <picture>
        <source srcset="
              ./images/desktop/pic9.jpg 1x,
              ./images/desktop/pic9@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic9-tab.jpg 1x,
              ./images/desktop/pic9.jpg 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic9-mob.jpg 1x,
              ./images/desktop/pic9-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desktop/pic9.jpg" class="gallery-banner-1" alt="banner" />
      </picture></div>
           <picture>
        <source srcset="
              ./images/desktop/pic99.jpg 1x,
              ./images/desktop/pic99@2x.jpg 2x
              " media="(min-width: 1280px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic99-tab.jpg 1x,
              ./images/desktop/pic99.jpg 2x
              " media="(min-width: 768px)" type="image/png" />
        <source srcset="
              ./images/desktop/pic99-mob.jpg 1x,
              ./images/desktop/pic99-tab.jpg 2x
              " media="(min-width: 320px)" type="image/png" />
        <img src="./images/desktop/pic99-tab.jpg" class="gallery-banner-1" alt="banner" />
      </picture>
      </div>
    </div>

 
  </section>