<section class="hero">

  <div class="hero__container ">
    <div class="hero__container-arrow animate__animated animate__bounceInUp"></div>
    <div class="hero__icecream-container-320 animate__animated  animate__bounceInDown"></div>
    <div class="hero__icecream-container-480 animate__animated  animate__bounceInDown"></div>
    <div class="hero__icecream-container-768 animate__animated  animate__bounceInDown"></div>
    <div class="hero__icecream-container-1280 animate__animated  animate__bounceInDown"></div>
    <div class="hero_title-container animate__animated animate__bounceInLeft">
      <h1 class="hero__title" id="Home">
        ice cream <br />made with<br />
        <span class="hero__passion">passion</span>
      </h1>
      <ul class="hero__container-btn ">
        <li aria-label="Products" class="hero__container-products-btn button">
          <a class="hero__container-btn--link-prod" href="#Products">Products</a>
        </li>
        <li aria-label="How it’s made?" class="hero__container-him-btn button">
          <a class="hero__container-btn--link-how" href="#How">How it’s made?</a>
        </li>
      </ul>
    </div>
    <div class="hero__lorem-container animate__animated animate__bounceInUp">
             <p class="hero__title-h2">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et
      </p>
        <button class="hero__modal-open-button " type="button" data-hero-open>
            <svg  width=26px height=26px class="open-svg" >
                <use href="./images/svg/arrow-right.svg#image0_1_225"></use>
            </svg>
        </button>
    </div>
    <div class="hero__backdrop backdrop--is-hidden " data-hero>
        <div class="hero__backdrop-modal  ">
             <h3 class="hero__ingredients-text ">only natural ingredients</h3>
            <p class="hero__backdrop-modal-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit asperiores, molestiae cumque blanditiis earum modi? Error unde quisquam, dolor fugit aspernatur aliquam, et doloribus eligendi, deserunt ullam facilis porro sapiente.</p>
               <button class="hero__modal-close-button" type="button" data-hero-close>
            <svg width=18px height=18px>
                <use href="./images/svg/icons-header-modal.svg#icon-close-black"></use>
            </svg>
        </button>
        </div>
    </div>
    <div class="hero__figures animate__animated animate__bounceInRight">
      <div class="hero__figures-16 pretitle"> 
        16<span class="hero__cercle"> </span>
        <p class="hero__figures-text">cafes</p>
      </div>
      <div class="hero__figures-23 pretitle">
        23<span class="hero__cercle"></span>
        <p class="hero__figures-text">food trucks</p>
      </div>
    </div>
    <div class="hero_girl-container animate__animated animate__bounceInRight"></div>
    <div class="hero_milk-container animate__animated animate__bounceInLeft"></div>
    <!-- <div class="hero_figures-container"></div> -->
  </div>

  <!-- </div> -->


</section>