<div class="backdrop" id="modal-about">
  <div class="modal modal-about">
    <ul class="modal-about__list list">
      <li class="modal-about__item">
        <h3 class="modal-about__title">Lorem ipsum dolor sit amet.</h3>
        <p class="modal-about__text">
          IceCream products are one of the best, all because our cows graze in the ecologically
          clean Carpathian mountains of Ukraine. The entire GoIT team enjoys our products. Anjoy you
          too!!
        </p>
      </li>
      <li class="modal-about__item">
        <h3 class="modal-about__title">Lorem ipsum dolor sit amet.</h3>
        <p class="modal-about__text">
          IceCream products are one of the best, all because our cows graze in the ecologically
          clean Carpathian mountains of Ukraine. The entire GoIT team enjoys our products. Anjoy you
          too!!
        </p>
      </li>
      <li class="modal-about__item">
        <h3 class="modal-about__title">Lorem ipsum dolor sit amet.</h3>
        <p class="modal-about__text">
          IceCream products are one of the best, all because our cows graze in the ecologically
          clean Carpathian mountains of Ukraine. The entire GoIT team enjoys our products. Anjoy you
          too!!
        </p>
      </li>
    </ul>
    <img
      class="modal-about__image"
      srcset="./images/hero/milk.png 1x, ./images/hero/milk@2x.png 2x"
      src="./images/hero/milk.png"
      alt="milk"
    />
    <button class="modal__close-btn js-modal-close" type="button">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#close-btn"></use>
      </svg>
    </button>

    <button
      class="main-btn main-btn--dark main-btn--modal js-modal-open"
      type="submit"
      data-modal="modal-header"
    >
      Buy now
    </button>
  </div>
</div>
