<div class="backdrop" id="modal-location">
  <div class="modal modal__location">
    <button class="modal__close-btn js-modal-close" type="button">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#close-btn"></use>
      </svg>
    </button>

    <p class="modal-location__title">Our Locations</p>

    <div class="tabs">
      <ul class="tabs__caption list">
        <li class="active">Chicago</li>
        <li>Los Angeles</li>
        <li>New York</li>
      </ul>

      <ul class="location-list list">
        <li class="tabs__content active">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95121.22790135234!2d-87.7118911417969!3d41.83823750000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c40e138c59f%3A0x3660a7189a2e9c0a!2sScoops%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1645484890908!5m2!1sru!2sua"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </li>
        <li class="tabs__content">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105763.17648924448!2d-118.40726489847823!3d34.066969541185415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c63e86511a9d%3A0x4d7642199f3a7cd5!2sVan%20Leeuwen%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1645532940015!5m2!1sru!2sua"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </li>
        <li class="tabs__content">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96754.57698612362!2d-74.06990564179686!3d40.72724979999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259549cf1617d%3A0x85dedf8de6c323a7!2sMorgenstern%E2%80%99s%20Finest%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1645533017296!5m2!1sru!2sua"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </li>
      </ul>
    </div>
  </div>
</div>
