.reviews {
  padding-top: 80px;
  padding-bottom: 86px;

  @include tablet {
    padding-top: 121px;
    padding-bottom: 119px;
  }

  @include desktop {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}
.reviews__container {
  margin: 0 auto;
  text-align: center;
}

.reviews-images {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  margin-bottom: 29px;
  @include tablet {
    margin-bottom: 19px;
  }
  @include desktop {
    margin-bottom: 15px;
  }
}

.reviews-text {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 26px;

  background-color: #fafafa;

  @include tablet {
    padding-top: 47px;
    padding-bottom: 28px;
    width: 620px;
  }
  @include desktop {
    padding-bottom: 32px;
    width: 926px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 65px;
    top: 28px;
    z-index: 1;

    display: inline-block;
    height: 40px;
    width: 54px;

    background-size: contain;
    background: url(../images/reviews/befor_one.svg);
    background-repeat: no-repeat;

    @include tablet {
      left: 40px;
      top: 30px;
    }

    @include desktop {
      left: 50px;
      top: 32px;
    }
  }
}

.reviews-gradient__content {
  position: relative;
  z-index: 2;

  @include font(12px, 31px, 500);
  margin: 0 auto;
  width: 157px;

  @include tablet {
    @include font(14px, 30px, null, 0.04em);
    width: 460px;
  }

  @include desktop {
    @include font(16px, 30px);
    width: 750px;
  }
}

.reviews-gradient {
  width: 180px;
  min-height: 245px;
  background-image: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 28px,
    #e1e1e1 29px,
    #e1e1e1 30px
  );

  @include tablet {
    width: 524px;
    min-height: 89px;
  }

  @include desktop {
    width: 813px;
    min-height: 59px;
  }
}

.reviews__name {
  @include font(14px, 26px, 500);
  margin-top: 30px;
  @media screen and (max-width: 768px) {
    padding-bottom: 42px;
  }
  @include tablet {
    margin-top: 24px;
    padding-bottom: 47px;
  }

  @include desktop {
    @include font(20px, 37px, 500);
    margin-top: 15px;
  }

  &::before {
    content: '';
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #c7133e;
    box-shadow: -14px 0 0 #c7133e, 14px 0 0 #c7133e;

    @include tablet {
      margin-bottom: 15px;
    }
  }
}

// SWIPER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  margin: 0 auto;

  text-align: center;
  font-size: 18px;
  background: #fff;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 85px;
  height: 85px;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;

  background-image: url(../images/reviews/house-pagination.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: unset;

  background-color: #fff;
}

.swiper .swiper-pagination {
  bottom: 0;
  left: 0;
  width: 100%;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  margin: 0 9px;
}
